/**
 * @name DiscordRecolor
 * @description Allows you to customize Discord's native Color Scheme
 * @author DevilBro
 * @version 1.0.0
 * @authorId 278543574059057154
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://mwittrien.github.io/
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/DiscordRecolor/
 * @updateUrl https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.theme.css
 */

/* To change the colors, change the variables inside the root {}, do NOT change the @import url() */

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css);

/* All colors are in RGB format (red, green, blue) use: https://www.google.com/search?q=colorpicker	*/

:root {
	--font:						Noto Sans;
	--settingsicons:			1;
	
	--accentcolor: 				255, 86, 142;
	--accentcolor2: 			147, 111, 247;
	--linkcolor: 				115, 169, 255;
	--mentioncolor: 			255, 86, 142;
	--successcolor: 			100, 222, 131;
	--warningcolor: 			239, 255, 115;
	--dangercolor:  			255, 86, 142;
	
	--textbrightest: 			222, 222, 239;
	--textbrighter: 			222, 222, 239;
	--textbright: 				222, 222, 239;
	--textdark: 				121, 121, 143;
	--textdarker: 				121, 121, 143;
	--textdarkest: 				71, 71, 86;
	
	--backgroundaccent: 		63, 63, 79;	
	--backgroundprimary: 		63, 63, 79;	
	--backgroundsecondary: 		35, 35, 47;	
	--backgroundsecondaryalt: 	35, 35, 47;	
	--backgroundtertiary: 		35, 35, 47;
	--backgroundfloating: 		35, 35, 47;	

	--scrollbar-auto-track: 63, 63, 79;
	--scrollbar-auto-thumb: 63, 63, 79;
}

.container-1r6BKw.themed-ANHk51 {
	background-color: var(--background-secondary);
}
